################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LexC--/v16/.suo
/.vs/LexC--/v16/ipch/AutoPCH/a20945dd1ede63d5
/.vs/LexC--/v16
